@model DAL.MODEL.Atendimento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Atendimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteX.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteX.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CobrarServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CobrarServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoServico)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
